*{
    margin: o;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar{
    height: 60px;
    
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;

    height: 50px;
    width: 100%;
}

.border{
    border: 1.3px solid transparent;
}
.border:hover{
    border: 1.3px solid white;
}
/* box2*/
.add1{
    color:#cccccc ;
    font-size: 1rem;
    margin: 3px;
}
.add2{
    font-size: 13px;
    margin-bottom: 5px;
    
}
.addicon{
    display: flex;
}
/* box3*/
.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.navsearch:hover{

    
    border: 2px solid #febd68;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0F1111;

}/*box4*/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box6*/
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* PANEL*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    margin-left: 15px;
    
    display: inline;

}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.85rem;
    font-weight: 700;
}
/*herp section*/
.hero-section{
    
    background-image: url("hero_image2.jpg");
    height: 380px;
    background-size: cover;
display: flex;
justify-content: center;
align-items: flex-end;
}
.hero-msg{
    background-color:white;
    color: black;
    height: 40px;
    display: flex;
    
    align-items: center;
    justify-content: center;
    
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
}
.hero-msg a{
    color:#007185;
    text-decoration: none;
}
/* shop-section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:rgb(82, 19, 199);
}
.box{
    
    background-color: white;
    height: 400px;
    width:23% ;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-image{
    height: 300px;
    background-size: cover;
}
.box-content{
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p{
    color:#007185;
}
/*footer*/
.foot-panel1{
    color: white;
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 10px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

    
}
.foot-panel3{
    height: 70px;
    background-color: #222f3d;
    color: white;
    border-top: 1px solid white;
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;

    height: 50px;
    width: 100px;
}
.foot-panel4{
    height: 100px;
    background-color: #131a22;
    display: flex;
    
    justify-content: space-evenly;

}
.pages{
    font-size: 12px;
    color: #dddddd;
    margin: 30px 0px 0px;
    justify-content: space-evenly;
    
    
    

}